sphinx
sphinx-rtd-theme
travis-sphinx
# this is needed only if using Gists
# As of 20FEB2020 I abandoned the use
# of Gists in favor of literalinclude
# but I am leading the package here and
# commented out, in case I may use it
# again in the future.
#sphinxcontrib.gist
